name: 'build a5book template'

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: amane/lualatex-latexmk:2019.1
    steps:
    - uses: actions/checkout@v1
    - name: compile document
      run: |
        ./script/make_story_list.sh
        latexmk
    - name: upload document
      uses: actions/upload-artifact@v1
      with:
        name: build
        path: build
